# Python caches
__pycache__/
*.pyc

# Virtual envs
venv/
env/

# Flask instance folder & env files
instance/
.env
.flaskenv

# Database & Docker artifacts
*.db
*.sqlite3
*.log
*.pid

# OS/filesystem cruft
.DS_Store
